---
apiVersion: v1
kind: Service
metadata:
  name: sumo-{{ ENVIRONMENT }}
  namespace: sumo-{{ ENVIRONMENT }}
  labels:
    app: sumo-{{ ENVIRONMENT }}
    type: lb
spec:
  type: NodePort
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  selector:
    app: sumo-{{ ENVIRONMENT }}
    type: web
