apiVersion: v1
kind: ServiceAccount
metadata:
  name: telegraf-daemonset
  namespace: monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: telegraf-daemonset
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - nodes
  - pods
  - services
  - resourcequotas
  - replicationcontrollers
  - limitranges
  - persistentvolumeclaims
  - persistentvolumes
  - namespaces
  - endpoints
  verbs:
  - list
  - watch
- apiGroups:
  - extensions
  resources:
  - daemonsets
  - deployments
  - replicasets
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - list
  - watch
- nonResourceURLs:
  - /stats*
  - /metrics*
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - nodes/metrics
  - nodes/stats
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: telegraf-daemonset
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: telegraf-daemonset
subjects:
- kind: ServiceAccount
  name: telegraf-daemonset
  namespace: monitoring
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: telegraf-daemonset
  name: telegraf-daemonset
  namespace: monitoring
data:
  cluster_name: {{ KOPS_CLUSTER_NAME }}
  telegraf.conf: |
    [global_tags]
      accout = "mozilla-sumo"
      product = "${CLUSTER_NAME}"
      k8s-cluster = "${CLUSTER_NAME}"
      environment = "${ENV}"
      app = "sumo"
    [agent]
      hostname = "$HOSTNAME"

    # Input: System metrics
    [[inputs.net]]
      interfaces = ["eth0","eth1"]
    [[inputs.cpu]]
      percpu = true
      totalcpu = true
      collect_cpu_time = false
      report_active = false
    [[inputs.disk]]
      ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
    [[inputs.diskio]]
    [[inputs.kernel]]
    [[inputs.mem]]
    [[inputs.processes]]
    [[inputs.swap]]
    [[inputs.system]]
    [[inputs.docker]]
      endpoint = "unix:///var/run/docker.sock"

    # Input: Container level metrics from CAdvisor
    [[inputs.prometheus]]
    urls = ["https://${HOST_IP}:10250/metrics/cadvisor"]
      bearer_token = "/var/run/secrets/kubernetes.io/serviceaccount/token"
      insecure_skip_verify = true
      interval = "60s"

    # Input: Statsd Server for PROD
    [[inputs.statsd]]
      [inputs.statsd.tags]
        environment = "prod"

      ## Protocol, must be "tcp", "udp4", "udp6" or "udp" (default=udp)
      protocol = "udp"

      ## MaxTCPConnection - applicable when protocol is set to tcp (default=250)
      max_tcp_connections = 250

      ## Enable TCP keep alive probes (default=false)
      tcp_keep_alive = false

      ## Specifies the keep-alive period for an active network connection.
      ## Only applies to TCP sockets and will be ignored if tcp_keep_alive is false.
      ## Defaults to the OS configuration.
      # tcp_keep_alive_period = "2h"

      ## Address and port to host UDP listener on
      service_address = ":8125"

      ## The following configuration options control when telegraf clears it's cache
      ## of previous values. If set to false, then telegraf will only clear it's
      ## cache when the daemon is restarted.
      ## Reset gauges every interval (default=true)
      delete_gauges = true
      ## Reset counters every interval (default=true)
      delete_counters = true
      ## Reset sets every interval (default=true)
      delete_sets = true
      ## Reset timings & histograms every interval (default=true)
      delete_timings = true

      ## Percentiles to calculate for timing & histogram stats.
      #percentiles = [50.0, 90.0, 99.0, 99.9, 99.95, 100.0]

      ## separator to use between elements of a statsd metric
      metric_separator = "_"

      ## Parses tags in the datadog statsd format
      ## http://docs.datadoghq.com/guides/dogstatsd/
      ## deprecated in 1.10; use datadog_extensions option instead
      parse_data_dog_tags = false

      ## Parses extensions to statsd in the datadog statsd format
      ## currently supports metrics and datadog tags.
      ## http://docs.datadoghq.com/guides/dogstatsd/
      datadog_extensions = true

      ## Statsd data translation templates, more info can be read here:
      ## https://github.com/influxdata/telegraf/blob/master/docs/TEMPLATE_PATTERN.md
      # templates = [
      #     "cpu.* measurement*"
      # ]

      ## Number of UDP messages allowed to queue up, once filled,
      ## the statsd server will start dropping packets
      allowed_pending_messages = 10000

      ## Number of timing/histogram values to track per-measurement in the
      ## calculation of percentiles. Raising this limit increases the accuracy
      ## of percentiles but also increases the memory usage and cpu time.
      percentile_limit = 1000

      ## Maximum socket buffer size in bytes, once the buffer fills up, metrics
      ## will start dropping.  Defaults to the OS default.
      # read_buffer_size = 65535

    # Input: Statsd Server for STAGE
    [[inputs.statsd]]
      [inputs.statsd.tags]
        environment = "dev"

      protocol = "udp"
      service_address = ":8126"

      max_tcp_connections = 250
      tcp_keep_alive = false
      delete_gauges = true
      delete_counters = true
      delete_sets = true
      delete_timings = true

      metric_separator = "_"
      parse_data_dog_tags = false
      datadog_extensions = true
      allowed_pending_messages = 10000
      percentile_limit = 1000

    # OUTPUTS
    [[outputs.influxdb]]
      urls = ["${INFLUX_URL}"]
      database = "${INFLUX_DB}"
      timeout  = "5s"
      username = "${INFLUX_USER}"
      password = "${INFLUX_PW}"
---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  labels:
      app: telegraf-daemonset
  name: telegraf-daemonset
  namespace: monitoring
spec:
  selector:
    matchLabels:
      name: telegraf-daemonset
  template:
    metadata:
      labels:
        name: telegraf-daemonset
    spec:
      containers:
      - image: telegraf:1.12.3-alpine
        imagePullPolicy: IfNotPresent
        name: telegraf-daemonset
        ports:
        - containerPort: 8125
          protocol: UDP
        volumeMounts:
        - mountPath: /rootfs/sys
          name: sys
          readOnly: true
        - mountPath: /rootfs/proc
          name: proc
          readOnly: true
        - mountPath: /var/run/docker.sock
          name: docker-socket
        - mountPath: /var/run/utmp
          name: utmp
          readOnly: true
        - mountPath: /etc/telegraf
          name: config
        env:
        - name: INFLUX_USER
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: user
        - name: INFLUX_DB
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: db
        - name: INFLUX_PW
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: pw
        - name: INFLUX_URL
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: url
        - name: CLUSTER_NAME
          valueFrom:
            configMapKeyRef:
              name: telegraf-daemonset
              key: cluster_name
        - name: VER
          value: "1.1"
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: HOST_PROC
          value: /rootfs/proc
        - name: HOST_SYS
          value: /rootfs/sys
        - name: ENV
          value: {{ ENV }}
        resources:
          limits:
            cpu: 300m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
      serviceAccount: telegraf-daemonset
      serviceAccountName: telegraf-daemonset
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /sys
          type: ""
        name: sys
      - hostPath:
          path: /var/run/docker.sock
          type: ""
        name: docker-socket
      - hostPath:
          path: /proc
          type: ""
        name: proc
      - hostPath:
          path: /var/run/utmp
          type: ""
        name: utmp
      - configMap:
          defaultMode: 420
          name: telegraf-daemonset
        name: config

